Where is HEAD right now and what state is it in? 

Who created the offending commit? Alexis Määttä Vinkler <alexis@flatwave.se

In which release was the bug introduced? 2022-04-24 10:40:56 ?? Child:  46aee292c5132296b8bfbb778b475349b9ffd209